body {
  font-family: "Baloo 2", cursive;
  margin: 0 auto;
  max-width: 600px;
}
.weather-all {
  font-size: 20px;
  margin-top: 30px;
  padding: 25px 25px 0px 25px;
  color: aqua;
  border: 1px solid;
  border-radius: 10px;
}
#city-search {
  color: blue;
}
h1 {
  margin-bottom: -9px;
}
h2 {
  padding-top: 7px;
  font-size: 50px;
}
.city-column {
  color: black;
}
.temperature-column {
  padding-left: 30px;
  color: orangered;
}
#celsius {
  text-decoration: none;
}
#fahrenheit {
  text-decoration: none;
}
#units {
  position: relative;
  bottom: 19px;
  color: black;
  font-size: 18px;
}

#credit {
  font-size: 15px;
}
#basic-addon2 {
  position: relative;
  left: 223px;
  top: -38px;
  max-width: 32%;
}
